<!-- Put the HTML template for your page here! -->
<DOCTYPE! html>
<html>
<head>
	<title></title>
	  <link rel="stylesheet" type=text/css href={{ url_for('static', filename='style.css') }}>

</head>
<body>
	<header>
		<h1>Best Sport In The World</h1>
	</header>
	<div class = "content">
	<h2>judo</h2>
	<p>it amazing and demand a lot os skills</p>
	</div>

	<div class = "list">
	{%if likes_same_sport == True%}
	<ul>
	{%for player in fav_players%}
	<li>{{player}}</li>
	{%endfor%}
	</ul>
	{%endif%}
	</div>
	<img src="https://images.olympicchannel.com/media/images/stills/none/None/12486ca18da9c4d0fe3f22698e61dc23.jpg" width="300" height="200" alt="judo knockout!!" >
</body>
</html>